/*
 * ===========================================================================
 *
 * Quick contact
 *
 * ===========================================================================
 *
 */
.quick-contact {

	fieldset {
		padding: 0;
		margin: 0;
		border: 0;
	}

	legend {
		@extend %visuallyhidden;
	}
}