/*
 * ===========================================================================
 *
 * Figures
 *
 * ===========================================================================
 *
 */
figure {

	padding: 0;
	margin: 0;

	margin-bottom: 1.5em;
	
	img {

		width: 100%;
		margin-bottom: 0;

	}

	figcaption {

		margin-top: 3em;

	}

}