/*
 * ===========================================================================
 *
 * Headings
 *
 * ===========================================================================
 *
 */


@font-face {
	font-family: "Cooper Hewitt";
	src: url('#{$font-path}cooperhewitt-heavy-subset.woff') format('woff');
	font-style: normal;
	font-weight: 800;
}


/*
 * Double-stranded headings, use class names when you wish to replicate the
 * visual aestethic of e.g. H1 without disrupting the document hierarchy.
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.h00, .h0 {

	font-style: normal;
	font-weight: $heading-weight;
	font-family: $heading-family;
	line-height: 1.2;
	letter-spacing: -0.02em;

	color: $primary-color;

	margin: 0;
	margin-bottom: 1rem;

}



h1,
.h1 {

	font-size: 2em;
	line-height: 1.15;

	@include mq($breakpoint-desk) {

		font-size: 3em;
		line-height: 1.1;

		// font-size: 3.375em;
    	// line-height: 1.10668;

	};
	
}

// h2,
// .h2 {

// 	font-size: 1.75em;
// 	line-height: 1.15;

// 	@include mq($breakpoint-desk) {

// 		font-size: 2.5em;
// 		line-height: 1.05;

// 	};
	
// }

// h3,
// .h3 {

// 	font-size: 1.5em;
// 	line-height: 1.2;

// 	@include mq($breakpoint-desk) {

// 		font-size: 2em;
// 		line-height: 1.25;

// 	};

// }

// h4,
// .h4 {

// 	font-size: 1.25em;
// 	line-height: 1.3;

// 	@include mq($breakpoint-desk) {

// 		font-size: 1.5em;
// 		line-height: 1.25;

// 	};
	
// }

// h5,
// .h5 {

// 	font-size: 1.125em;
// 	line-height: 1.4;

// 	@include mq($breakpoint-desk) {

// 		font-size: 1em;
// 		line-height: 1.375;

// 	};
	
// }
// h6,
// .h6 {

// 	font-size: 1em;
// 	line-height: 1.5;

// 	@include mq($breakpoint-desk) {

// 		font-size: 0.875em;
// 		line-height: 1.5;

// 	};
	
// }



// .h00 {

// 	font-size: 4em;
// 	line-height: 1.1;

// 	@include mq($breakpoint-desk) {

// 		font-size: 5em;
// 		line-height: 1;

// 	};
	
// }



// .h0 {

// 	font-size: 3em;
// 	line-height: 1.1;

// 	@include mq($breakpoint-desk) {

// 		font-size: 4em;
// 		line-height: 1;

// 	};
	
// }