/*
 * ===========================================================================
 *
 * Links
 *
 * ===========================================================================
 *
 */
a {
	
	color: inherit;
	text-decoration: none;

	border-bottom: 1px solid;

	&:visited {

		// color: inherit;

	}

	@include transition($duration: 100ms);

	&:hover,
	&:focus,
	&:active {

		color: lighten($primary-color, $deviate);

	}
}
/*
 * Remove underlining from telephone links
 */
[href^="tel:"] {

	// color: inherit;
	border: 0;

	&:hover,
	&:focus,
	&:active {

		// color: inherit;

	}
}
/*
 * Clean link, blends in with body text
 */
.clean-link {

	color: inherit;

	&:visited {

		color: inherit;

	}

	&:hover,
	&:focus,
	&:active {

		color: inherit;

	}
}