/*
 * ===========================================================================
 *
 * Tables
 *
 * ===========================================================================
 *
 */
table {
	width:100%;
	border:none;
	margin:0 0 25px 0;
}

td {
	padding:5px;
	vertical-align:top;
}